./.git/hooks/pre-merge-commit.sample
./.git/hooks/pre-commit.sample
./.git/hooks/fsmonitor-watchman.sample
./.git/hooks/post-update.sample
./.git/hooks/pre-rebase.sample
./.git/hooks/push-to-checkout.sample
./.git/hooks/prepare-commit-msg.sample
./.git/hooks/pre-push.sample
./.git/hooks/update.sample
./.git/hooks/applypatch-msg.sample
./.git/hooks/commit-msg.sample
./.git/hooks/pre-applypatch.sample
./.git/hooks/pre-receive.sample
./xmonad/xmonad-x86_64-linux
./xmonad/xmobar-config/bin/toggle-app.sh
./xmonad/xmobar-config/bin/toggle-pipe.sh
./xmonad/xmobar-config/bin/sp-hook.sh
./xmonad/xmobar-config/bin/toggle-xmobar-bottom.sh
./xmonad/xmobar-config/bin/run-trayer.sh
./xmonad/xmobar-config/bin/padding-width.sh
./xmonad/xmobar-config/.git/hooks/pre-merge-commit.sample
./xmonad/xmobar-config/.git/hooks/pre-commit.sample
./xmonad/xmobar-config/.git/hooks/fsmonitor-watchman.sample
./xmonad/xmobar-config/.git/hooks/post-update.sample
./xmonad/xmobar-config/.git/hooks/pre-rebase.sample
./xmonad/xmobar-config/.git/hooks/push-to-checkout.sample
./xmonad/xmobar-config/.git/hooks/prepare-commit-msg.sample
./xmonad/xmobar-config/.git/hooks/pre-push.sample
./xmonad/xmobar-config/.git/hooks/update.sample
./xmonad/xmobar-config/.git/hooks/applypatch-msg.sample
./xmonad/xmobar-config/.git/hooks/commit-msg.sample
./xmonad/xmobar-config/.git/hooks/pre-applypatch.sample
./xmonad/xmobar-config/.git/hooks/pre-receive.sample
./xmonad/xmobar-config/.git/hooks/sendemail-validate.sample
./xmonad/xmobar-config/icons/gen-load-icons.sh
./xmonad/xmobar-git/.stack-work/dist/x86_64-linux-tinfo6/Cabal-3.10.1.0/build/libHSxmobar-0.48-6i5IpbTgtY5bcRgEB0LDX-ghc9.6.4.so
./xmonad/xmobar-git/.stack-work/dist/x86_64-linux-tinfo6/Cabal-3.10.1.0/build/xmobar/xmobar
./xmonad/xmobar-git/.stack-work/dist/x86_64-linux-tinfo6/ghc-8.10.7/build/libHSxmobar-0.48-KrjzP058DeNAZuwvr5hj3i-ghc8.10.7.so
./xmonad/xmobar-git/.stack-work/dist/x86_64-linux-tinfo6/ghc-8.10.7/build/libHSxmobar-0.48-4r4hVQGLVsX80SkfSzNYDR-ghc8.10.7.so
./xmonad/xmobar-git/.stack-work/dist/x86_64-linux-tinfo6/ghc-8.10.7/build/xmobar/xmobar
./xmonad/xmobar-git/.stack-work/dist/x86_64-linux/Cabal-3.10.1.0/build/libHSxmobar-0.48-6i5IpbTgtY5bcRgEB0LDX-ghc9.6.4.so
./xmonad/xmobar-git/.stack-work/dist/x86_64-linux/Cabal-3.10.1.0/build/xmobar/xmobar
./xmonad/xmobar-git/.stack-work/dist/x86_64-linux/Cabal-3.2.1.0/build/libHSxmobar-0.48-4r4hVQGLVsX80SkfSzNYDR-ghc8.10.7.so
./xmonad/xmobar-git/.stack-work/dist/x86_64-linux/Cabal-3.2.1.0/build/xmobar/xmobar
./xmonad/xmobar-git/.stack-work/install/x86_64-linux-tinfo6/5676912ea67a3ff19f8a929029befb7b6685d02f933b44758420923ba1453885/8.10.7/bin/xmobar
./xmonad/xmobar-git/.stack-work/install/x86_64-linux-tinfo6/5676912ea67a3ff19f8a929029befb7b6685d02f933b44758420923ba1453885/8.10.7/lib/x86_64-linux-ghc-8.10.7/libHSxmobar-0.48-KrjzP058DeNAZuwvr5hj3i-ghc8.10.7.so
./xmonad/xmobar-git/.stack-work/install/x86_64-linux-tinfo6/5676912ea67a3ff19f8a929029befb7b6685d02f933b44758420923ba1453885/8.10.7/lib/x86_64-linux-ghc-8.10.7/libHSxmobar-0.48-4r4hVQGLVsX80SkfSzNYDR-ghc8.10.7.so
./xmonad/xmobar-git/.stack-work/install/x86_64-linux/3654ba466f444387535b327e6c23fdc1e71b2da108578d95e02a4ad51047214b/8.10.7/bin/xmobar
./xmonad/xmobar-git/.stack-work/install/x86_64-linux/3654ba466f444387535b327e6c23fdc1e71b2da108578d95e02a4ad51047214b/8.10.7/lib/x86_64-linux-ghc-8.10.7/libHSxmobar-0.48-4r4hVQGLVsX80SkfSzNYDR-ghc8.10.7.so
./xmonad/xmobar-git/etc/padding-icon.sh
./xmonad/xmobar-git/etc/status.sh
./xmonad/xmobar-git/setup.lhs
./xmonad/xmobar-git/.git/hooks/pre-merge-commit.sample
./xmonad/xmobar-git/.git/hooks/pre-commit.sample
./xmonad/xmobar-git/.git/hooks/fsmonitor-watchman.sample
./xmonad/xmobar-git/.git/hooks/post-update.sample
./xmonad/xmobar-git/.git/hooks/pre-rebase.sample
./xmonad/xmobar-git/.git/hooks/push-to-checkout.sample
./xmonad/xmobar-git/.git/hooks/prepare-commit-msg.sample
./xmonad/xmobar-git/.git/hooks/pre-push.sample
./xmonad/xmobar-git/.git/hooks/update.sample
./xmonad/xmobar-git/.git/hooks/applypatch-msg.sample
./xmonad/xmobar-git/.git/hooks/commit-msg.sample
./xmonad/xmobar-git/.git/hooks/pre-applypatch.sample
./xmonad/xmobar-git/.git/hooks/pre-receive.sample
./xmonad/xmobar-git/.git/hooks/sendemail-validate.sample
./xmonad/xmobar
./xmonad/xmobar.hi 
./xmonad/xmobar.o
./xmonad/build-x86_64-linux/
